*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  position: relative; }

body {
  font-family: "Nunito Sans", sans-serif;
  color: #101d2c;
  font-size: 1.8rem; }

.heading--primary {
  font-family: "Fjord One", serif;
  font-size: 5rem; }

.heading--tertiary {
  font-family: "Dosis", sans-serif;
  font-size: 2.3rem; }

.text-desc {
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif; }

.section--title {
  font-size: 3.5rem;
  font-family: "Dosis", sans-serif; }

.text--normal {
  line-height: 1.8; }

.header {
  grid-column: full-start/full-end;
  padding: 8rem 0;
  color: #101d2c; }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding-right: 4rem;
      padding-left: 4rem; } }
  .header__block {
    grid-column: center-start/center-end;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__msg {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    flex: 6; }
    @media only screen and (max-width: 56.25em) {
      .header__msg {
        align-items: center;
        flex-basis: 55%;
        text-align: center;
        margin-top: 5rem;
        padding-right: 0; } }
    .header__msg--get-app {
      display: flex; }
  .header__app-view {
    flex: 4;
    display: flex;
    align-items: center; }
    .header__app-view--img {
      height: 55rem;
      width: auto;
      transform: rotate(12deg);
      transform-origin: bottom; }
    @media only screen and (max-width: 56.25em) {
      .header__app-view {
        display: none;
        visibility: hidden; } }

.download-link__list {
  display: flex; }
  @media only screen and (max-width: 26.5em) {
    .download-link__list {
      flex-direction: column; } }

.download-link {
  display: inline-block; }
  .download-link:not(:last-child) {
    margin-right: 4rem; }
    @media only screen and (max-width: 26.5em) {
      .download-link:not(:last-child) {
        margin-right: 1rem;
        margin-left: 1rem; } }

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1; }
  .feature--white-rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fbfaf9;
    width: 20rem;
    height: 20rem; }
    .feature--white-rectangle::after {
      content: '';
      position: absolute;
      background-color: #fff;
      width: 12rem;
      height: 12rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5; }
    .feature--white-rectangle::before {
      content: '';
      position: absolute;
      background-color: #fff;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 15; }
    .feature--white-rectangle--white::before {
      left: 50%; }
  .feature > * {
    flex-basis: 50%; }
  .feature:nth-child(2n + 1) {
    flex-direction: row-reverse; }
  .feature__side--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1); }
  .feature__side--1 {
    height: 50rem;
    background-color: #f9f7f6;
    align-self: stretch;
    position: relative;
    z-index: -1; }
  .feature__side--2 {
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    z-index: 10; }

.container {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 13.7rem) [col-end]) [center-end] 1fr [full-end]; }

.card-why {
  width: 85%;
  padding: 4rem 2rem;
  background-color: #fff;
  font-family: "Fjord One", serif;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 3px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid transparent;
  transition: all .2s; }
  .card-why__icon {
    width: 7rem;
    height: 7rem;
    align-self: center;
    fill: #101d2c; }
  .card-why:hover {
    box-shadow: 0 0.5rem 1rem 0 #f9f7f6;
    border-color: #f9f7f6; }

.container {
  position: relative; }

.section-why {
  padding: 4rem 0;
  text-align: center;
  grid-column: full-start/full-end; }
  .section-why__content {
    grid-column: center-start/center-end; }
  .section-why__whys {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .section-why__whys {
        flex-direction: column; } }
    .section-why__whys > * {
      flex: 1;
      display: flex; }
      @media only screen and (max-width: 37.5em) {
        .section-why__whys > * {
          justify-content: center; }
          .section-why__whys > *:not(:last-child) {
            margin-bottom: 5rem; } }
      .section-why__whys > *:nth-child(2n + 2) {
        justify-content: center; }
      .section-why__whys > *:nth-child(2n + 3) {
        justify-content: flex-end; }
        @media only screen and (max-width: 56.25em) {
          .section-why__whys > *:nth-child(2n + 3) {
            justify-content: center; } }

.section-feature {
  padding: 8rem 0;
  text-align: center;
  grid-column: center-start/center-end;
  display: flex;
  flex-direction: column; }

.section-get-app,
.footer {
  grid-column: full-start/full-end; }

.section-get-app {
  padding: 8rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section-get-app__content {
    width: 50%;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .section-get-app__content {
        width: 75%; } }
    @media only screen and (max-width: 37.5em) {
      .section-get-app__content {
        width: 85%; } }

.section-get-app .download-link__list {
  justify-content: center; }

.section-privacy {
  grid-column: center-start/center-end; }

.menu__checkbox {
  display: none;
  visibility: hidden; }

.menu__label {
  position: fixed;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.2rem 2.4rem -0.2rem rgba(0, 0, 0, 0.14);
  background-color: #fff;
  z-index: 1100;
  display: none;
  visibility: hidden; }
  @media only screen and (max-width: 56.25em) {
    .menu__label {
      display: flex;
      visibility: visible; } }

.menu__button {
  display: block;
  position: relative;
  width: 3rem;
  height: 2px;
  background-color: #101d2c;
  transition: all .2s .2s; }
  .menu__button::after, .menu__button::before {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #101d2c;
    transform-origin: center;
    transition: bottom .2s, top .2s, width .2s .2s, transform .15s .2s; }
  .menu__button::before {
    top: -.8rem; }
  .menu__button::after {
    bottom: -.8rem;
    width: 75%; }

.menu__label:hover .menu__button::before {
  top: -1.1rem; }

.menu__label:hover .menu__button::after {
  bottom: -1.1rem;
  width: 100%; }

.menu__checkbox:checked + .menu__label .menu__button {
  background-color: transparent; }
  .menu__checkbox:checked + .menu__label .menu__button::before {
    top: 0;
    transform: rotate(-495deg); }
  .menu__checkbox:checked + .menu__label .menu__button::after {
    width: 100%;
    bottom: 0;
    transform: rotate(135deg); }

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #101d2c;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  letter-spacing: .1rem;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center; }

.menu__checkbox:checked ~ .menu__container {
  max-height: 100%;
  opacity: 1;
  visibility: visible; }

.menu__list {
  list-style: none;
  width: 45%; }

.menu__item {
  width: 100%;
  text-align: center;
  margin: .5rem 0; }

.menu__link:link, .menu__link:visited, .menu__cta:link, .menu__cta:visited {
  padding: 2rem 0;
  font-size: 2rem;
  letter-spacing: .2rem;
  font-family: inherit;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  background: linear-gradient(45deg, #fff, #fff 1%, rgba(84, 72, 58, 0.1) 1%, rgba(84, 72, 58, 0.1));
  background-size: 100%;
  transition: background-size .3s, color .1s .2s; }

.menu__link:hover, .menu__cta:hover {
  background-size: 20000%;
  color: #101d2c; }

.navigation {
  grid-column: center-start/center-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      padding-left: 3rem; } }
  .navigation__icon {
    width: 5rem;
    height: 5rem; }

.nav {
  align-self: flex-end;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .nav {
      display: none;
      visibility: hidden; } }
  .nav__link {
    display: inline-block;
    padding: 2rem 3rem;
    text-decoration: none;
    color: #101d2c;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    position: relative; }
    .nav__link::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 35%;
      height: .3rem;
      max-height: 0;
      border-radius: 10rem;
      background-color: #101d2c;
      transition: all .2s;
      transform-origin: bottom; }
    .nav__link:hover::after {
      max-height: 100%; }
  .nav__item--active .nav__link::after {
    max-height: 100%; }

.u-text-primary {
  color: #c69963 !important; }

.u-text-secondary {
  color: #101d2c !important; }

.u-margin-bottom-small {
  margin-bottom: 5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 8rem !important; }

.u-margin-bottom-large {
  margin-bottom: 12rem !important; }

.icon {
  fill: #101d2c; }
  .icon__download-app {
    height: 7rem;
    width: 20rem;
    fill: #101d2c; }

.footer {
  padding: 8rem 0 0;
  background-color: #101d2c;
  color: #f9f7f6; }
  .footer__terms {
    text-align: center;
    grid-column: center-start/center-end; }
    .footer__terms--link {
      display: inline-block;
      text-decoration: none;
      color: #f9f7f6;
      font-family: inherit;
      font-size: 1rem;
      letter-spacing: .1rem;
      text-transform: uppercase;
      padding: 1rem 3rem; }
      .footer__terms--link:not(:last-child) {
        border-right: 1px solid #f9f7f6; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding-right: 3rem;
      padding-left: 3rem; } }
  .footer__content {
    grid-column: center-start/center-end;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer--copyright {
    font-size: 1.4rem; }
  .footer--social {
    list-style: none; }

.social__item {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  fill: #f9f7f6; }
  .social__item:not(:last-child) {
    margin-right: 1.5rem; }
